# Database
db.sqlite3

# Environment Variables
/jpd_test/.env

# Packages
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.pyo
*.pyc
**/__pycache__

# Project-specific ignores
.idea.env
/venv/